.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a99879;
    font-size: 45px;
    font-variant: small-caps;
}
ul {
    list-style: none;
    display: flex;
}
li {
    padding-left: 10rem;
    font-size: 15px;
}
.main-nav {
    height: 60px;
    width: 98%;
    background-color: #a99879;
    border: 5px solid #362507;
    margin: 5px;
    margin-top: 25px;
    border-radius: 5px;
}
.p1 {
    height: 100%;
    width: 185px;
    padding: 15px;
    background-color: #cdc9c1;
    font-size: larger;
    font-style: oblique;
    margin: 25px;
    justify-content: flex-start space-around;

}
a {
    text-decoration: none;
}
a:hover {
    color: #362507;
}
.media {
    margin: 25px;
}
img {
    height: 180x;
    width: 160px;
    float: left;
}
footer {
    width: 98%;
    height: 70px;
    background-color: #a99879;
    border: 7px solid #362507;
    margin: 5px;
    align-items: flex-end;
    text-align: center;
    font-size: 35px;
    font-variant: small-caps;
    margin-top: 25px;
}
